@model Intranet.Models.Reclamacao

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Reclamacao</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="id" />
        <input type="hidden" asp-for="tipoIdentificacao" />
        <div class="form-group">
            <label asp-for="nomeCompleto" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="nomeCompleto" class="form-control" />
                <span asp-validation-for="nomeCompleto" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="nacionalidade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="nacionalidade" class="form-control" />
                <span asp-validation-for="nacionalidade" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="identificacao" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="identificacao" class="form-control" />
                <span asp-validation-for="identificacao" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label"> Provincia</label>
            <div class="col-md-10">
                <select asp-for="provinciaId" asp-items='ViewBag.provinciaId' class="form-control"></select>
            </div>

        </div>

        <div class="form-group">
            <label asp-for="hotelId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="hotelId" asp-items='ViewBag.hotelId' class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="texto" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.TextAreaFor(x => x.texto, 12, 1, new { @class = "form-control" })
                <span asp-validation-for="texto" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="aprovado" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="aprovado" class="form-control" />
                <span asp-validation-for="aprovado" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
